---
http_interactions:
- request:
    method: get
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/catalog/products/111?include_fields=price
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3748'
      X-Rate-Limit-Time-Reset-Ms:
      - '29999'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":111,"price":26},"meta":{}}'
  recorded_at: Tue, 03 Mar 2026 20:21:47 GMT
recorded_with: VCR 6.3.1
