---
http_interactions:
- request:
    method: get
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers?id:in=999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3746'
      X-Rate-Limit-Time-Reset-Ms:
      - '29449'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"pagination":{"total":0,"count":0,"per_page":50,"current_page":1,"total_pages":0}}}'
  recorded_at: Thu, 24 Oct 2024 07:15:42 GMT
recorded_with: VCR 6.3.1
