---
http_interactions:
- request:
    method: post
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers/attributes
    body:
      encoding: UTF-8
      string: '[{"name":"test.attribute_values.upsert","type":"string"}]'
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3748'
      X-Rate-Limit-Time-Reset-Ms:
      - '29999'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":7,"name":"test.attribute_values.upsert","type":"string","date_created":"2024-10-24T04:32:20Z","date_modified":"2024-10-24T04:32:20Z"}],"meta":{}}'
  recorded_at: Thu, 24 Oct 2024 04:32:19 GMT
- request:
    method: post
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers
    body:
      encoding: UTF-8
      string: '[{"email":"test.attributevalues.create@example.com","first_name":"Test","last_name":"User"}]'
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3747'
      X-Rate-Limit-Time-Reset-Ms:
      - '29765'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":13,"authentication":{"force_password_reset":false},"company":"","customer_group_id":0,"email":"test.attributevalues.create@example.com","first_name":"Test","last_name":"User","notes":"","phone":"","registration_ip_address":"","tax_exempt_category":"","date_created":"2024-10-24T04:32:20Z","date_modified":"2024-10-24T04:32:20Z","accepts_product_review_abandoned_cart_emails":false,"store_credit_amounts":[{"amount":0}],"origin_channel_id":1,"channel_ids":null}],"meta":{}}'
  recorded_at: Thu, 24 Oct 2024 04:32:20 GMT
- request:
    method: put
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers/attribute-values
    body:
      encoding: UTF-8
      string: '[{"attribute_id":7,"value":"some value","customer_id":13}]'
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3746'
      X-Rate-Limit-Time-Reset-Ms:
      - '29406'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":2,"customer_id":13,"attribute_id":7,"attribute_value":"some
        value","date_created":"2024-10-24T04:32:20Z","date_modified":"2024-10-24T04:32:20Z"}],"meta":{}}'
  recorded_at: Thu, 24 Oct 2024 04:32:20 GMT
- request:
    method: delete
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers/attributes?id:in=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Rate-Limit-Requests-Left:
      - '3745'
      X-Rate-Limit-Time-Reset-Ms:
      - '29157'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Oct 2024 04:32:20 GMT
- request:
    method: delete
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers?id:in=13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Rate-Limit-Requests-Left:
      - '3744'
      X-Rate-Limit-Time-Reset-Ms:
      - '28819'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Oct 2024 04:32:21 GMT
recorded_with: VCR 6.3.1
