---
http_interactions:
- request:
    method: post
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers
    body:
      encoding: UTF-8
      string: '[{"email":"test.customers.get@example.com","first_name":"Bill","last_name":"Bellamy","company":"Thangz
        Inc.","phone":"510-555-1212","notes":"Duly noted!"}]'
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3746'
      X-Rate-Limit-Time-Reset-Ms:
      - '18652'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18,"authentication":{"force_password_reset":false},"company":"Thangz
        Inc.","customer_group_id":0,"email":"test.customers.get@example.com","first_name":"Bill","last_name":"Bellamy","notes":"Duly
        noted!","phone":"510-555-1212","registration_ip_address":"","tax_exempt_category":"","date_created":"2024-10-24T07:19:29Z","date_modified":"2024-10-24T07:19:29Z","accepts_product_review_abandoned_cart_emails":false,"store_credit_amounts":[{"amount":0}],"origin_channel_id":1,"channel_ids":null}],"meta":{}}'
  recorded_at: Thu, 24 Oct 2024 07:19:29 GMT
- request:
    method: delete
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers?id:in=18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Rate-Limit-Requests-Left:
      - '3745'
      X-Rate-Limit-Time-Reset-Ms:
      - '18294'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Oct 2024 07:19:29 GMT
recorded_with: VCR 6.3.1
