---
http_interactions:
- request:
    method: post
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers/attributes
    body:
      encoding: UTF-8
      string: '[{"name":"test.attribute.create","type":"string"}]'
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3748'
      X-Rate-Limit-Time-Reset-Ms:
      - '29999'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":9,"name":"test.attribute.create","type":"string","date_created":"2024-10-24T07:19:18Z","date_modified":"2024-10-24T07:19:18Z"}],"meta":{}}'
  recorded_at: Thu, 24 Oct 2024 07:19:17 GMT
- request:
    method: delete
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers?id:in=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Rate-Limit-Requests-Left:
      - '3747'
      X-Rate-Limit-Time-Reset-Ms:
      - '29663'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Oct 2024 07:19:18 GMT
recorded_with: VCR 6.3.1
