---
http_interactions:
- request:
    method: get
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers?include=addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3744'
      X-Rate-Limit-Time-Reset-Ms:
      - '28722'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":1,"address_count":1,"addresses":[{"id":1,"address1":"59
        West 46th Street","address2":"","address_type":"residential","city":"New York","company":"Fofiha","country":"United
        States","country_code":"US","customer_id":1,"first_name":"","last_name":"","phone":"555-555-1212","postal_code":"10005","state_or_province":"New
        York"}],"authentication":{"force_password_reset":false},"company":"Acme Inc.","customer_group_id":0,"email":"user1@example.com","first_name":"John","last_name":"Doe","notes":"Note
        1","phone":"555-555-1212","registration_ip_address":"","tax_exempt_category":"","date_created":"2024-10-21T06:11:27Z","date_modified":"2024-10-21T18:16:29Z","accepts_product_review_abandoned_cart_emails":false,"origin_channel_id":1,"channel_ids":null},{"id":2,"address_count":1,"addresses":[{"id":2,"address1":"123
        55th St.","address2":"#1","address_type":"residential","city":"New York","company":"","country":"United
        States","country_code":"US","customer_id":2,"first_name":"","last_name":"","phone":"212-555-1212","postal_code":"10038","state_or_province":"New
        York"}],"authentication":{"force_password_reset":false},"company":"Acme Inc.","customer_group_id":0,"email":"user2@example.com","first_name":"Bob","last_name"[...]
