---
http_interactions:
- request:
    method: get
    uri: https://api.bigcommerce.com/stores/<STORE_HASH>/v3/customers?limit=2&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - "<X-Auth-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Requests-Left:
      - '3741'
      X-Rate-Limit-Time-Reset-Ms:
      - '27493'
      X-Rate-Limit-Requests-Quota:
      - '3749'
      X-Rate-Limit-Time-Window-Ms:
      - '30000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":3,"authentication":{"force_password_reset":false},"company":"FooBar
        LLC","customer_group_id":0,"email":"user3@example.com","first_name":"Richard","last_name":"Smith","notes":"","phone":"310-555-1212","registration_ip_address":"","tax_exempt_category":"","date_created":"2024-10-21T06:11:28Z","date_modified":"2024-10-21T18:50:21Z","accepts_product_review_abandoned_cart_emails":true,"origin_channel_id":1,"channel_ids":null},{"id":4,"authentication":{"force_password_reset":false},"company":"","customer_group_id":0,"email":"user4@example.com","first_name":"Paulo","last_name":"Costa","notes":"","phone":"","registration_ip_address":"","tax_exempt_category":"","date_created":"2024-10-21T06:11:28Z","date_modified":"2024-10-21T06:11:28Z","accepts_product_review_abandoned_cart_emails":false,"origin_channel_id":1,"channel_ids":null}],"meta":{"pagination":{"total":5,"count":2,"per_page":2,"current_page":2,"total_pages":3}}}'
  recorded_at: Thu, 24 Oct 2024 07:15:43 GMT
recorded_with: VCR 6.3.1
